#include "resource.h"

IDM_MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open Map...", IDM_FILE_OPEN
//		MENUITEM "&Save Map...", IDM_FILE_SAVE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tESC", IDM_FILE_EXIT
	END
	POPUP "&Level"
	BEGIN
		MENUITEM "Select p&revious level...\tF1", IDM_LEVEL_PREVLEVEL, GRAYED
		MENUITEM "Select n&ext level...\tF2", IDM_LEVEL_NEXTLEVEL, GRAYED
	END
	POPUP "&Headers"
	BEGIN
		MENUITEM "Use &previous Scene Header\tNum /", IDM_SCENE_PREVHEADER, GRAYED
		MENUITEM "Use &next Scene Header\tNum *", IDM_SCENE_NEXTHEADER, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Use &previous Map Header\tF3", IDM_MAP_PREVHEADER, GRAYED
		MENUITEM "Use &next Map Header\tF4", IDM_MAP_NEXTHEADER, GRAYED
	END
	POPUP "&Actors"
	BEGIN
		POPUP "&Map..."
		BEGIN
			MENUITEM "Toggle rendering", IDM_ACTORS_MAPRENDER, GRAYED
			MENUITEM SEPARATOR
			MENUITEM "Select &previous...\tF5", IDM_ACTORS_SELECTPREV, GRAYED
			MENUITEM "Select &next...\tF6", IDM_ACTORS_SELECTNEXT, GRAYED
			MENUITEM SEPARATOR
			MENUITEM "Jump to &first Actor\tF7", IDM_ACTORS_JUMPFIRST, GRAYED
			MENUITEM "Jump to &last Actor\tF8", IDM_ACTORS_JUMPLAST, GRAYED
		END
		POPUP "&Scene..."
		BEGIN
			MENUITEM "Toggle rendering", IDM_ACTORS_SCENERENDER, GRAYED
			MENUITEM SEPARATOR
			MENUITEM "Select &previous...\tNum -", IDM_ACTORS_SCENEPREV, GRAYED
			MENUITEM "Select &next...\tNum +", IDM_ACTORS_SCENENEXT, GRAYED
		END
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "Reset &coordinates\tTAB", IDM_OPTIONS_RESETCAMCOORDS, GRAYED
		MENUITEM SEPARATOR
		POPUP "&Texture Filtering..."
		BEGIN
			MENUITEM "&Nearest", IDM_OPTIONS_FILTERNEAREST, GRAYED
			MENUITEM "&Linear", IDM_OPTIONS_FILTERLINEAR, GRAYED
			MENUITEM "&Linear (Mipmap)", IDM_OPTIONS_FILTERMIPMAP, GRAYED
		END
		MENUITEM SEPARATOR
		MENUITEM "Toggle &Map rendering", IDM_OPTIONS_RENDERMAPS, GRAYED
		MENUITEM "Toggle &Collision overlay rendering", IDM_OPTIONS_RENDERCOLLISION, GRAYED
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About...", IDM_HELP_ABOUT
	END
END
