#include "resource.h"

IDM_MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open ROM...", IDM_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILE_EXIT
	END
	POPUP "&Level"
	BEGIN
		MENUITEM "&Previous level...\tF1", IDM_LEVEL_PREVLEVEL, GRAYED
		MENUITEM "&Next level...\tF2", IDM_LEVEL_NEXTLEVEL, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "P&revious Map...\tF3", IDM_MAP_PREVHEADER, GRAYED
		MENUITEM "N&ext Map...\tF4", IDM_MAP_NEXTHEADER, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Pre&vious Scene Header...\tNum /", IDM_SCENE_PREVHEADER, GRAYED
		MENUITEM "Ne&xt Scene Header...\tNum *", IDM_SCENE_NEXTHEADER, GRAYED
	END
	POPUP "&Rendering"
	BEGIN
		MENUITEM "Render &Map", IDM_OPTIONS_RENDERMAPS, GRAYED
		MENUITEM "Render &Collision overlay", IDM_OPTIONS_RENDERCOLLISION, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Render Map &Actors", IDM_ACTORS_MAPRENDER, GRAYED
		MENUITEM "Render &Scene Actors", IDM_ACTORS_SCENERENDER, GRAYED
		MENUITEM "Render &room-changers", IDM_ACTORS_DOORRENDER, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Render &fog", IDM_OPTIONS_RENDERFOG, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Render as &wireframe", IDM_OPTIONS_WIREFRAME, GRAYED
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "&Reset camera coordinates\tTAB", IDM_OPTIONS_RESETCAMCOORDS, GRAYED
		MENUITEM SEPARATOR
		POPUP "&Texture filtering..."
		BEGIN
			MENUITEM "&Nearest", IDM_OPTIONS_FILTERNEAREST, GRAYED
			MENUITEM "&Linear", IDM_OPTIONS_FILTERLINEAR, GRAYED
			MENUITEM "&Linear (Mipmap)", IDM_OPTIONS_FILTERMIPMAP, GRAYED
		END
		MENUITEM SEPARATOR
		MENUITEM "Enable &Wavefront OBJ dumping", IDM_OPTIONS_WAVEFRONT, GRAYED
//		MENUITEM SEPARATOR
//		MENUITEM "Enable &fragment shader", IDM_OPTIONS_FRAGSHADER, GRAYED
	END
	POPUP "&Help"
	BEGIN
//		MENUITEM "&Controls...", IDM_HELP_CONTROLS
//		MENUITEM SEPARATOR
		MENUITEM "&About...", IDM_HELP_ABOUT
	END
END
