#include "resource.h"

IDM_MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open ROM...", IDM_FILE_OPEN
//		MENUITEM "&Save ROM...", IDM_FILE_SAVE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tESC", IDM_FILE_EXIT
	END
	POPUP "&Level"
	BEGIN
		MENUITEM "Select &previous level...\tF1", IDM_LEVEL_PREVLEVEL, GRAYED
		MENUITEM "Select &next level...\tF2", IDM_LEVEL_NEXTLEVEL, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Render p&revious Map...\tF3", IDM_MAP_PREVHEADER, GRAYED
		MENUITEM "Render n&ext Map\tF4", IDM_MAP_NEXTHEADER, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Select pre&vious Scene Header...\tNum /", IDM_SCENE_PREVHEADER, GRAYED
		MENUITEM "Select ne&xt Scene Header...\tNum *", IDM_SCENE_NEXTHEADER, GRAYED
	END
	POPUP "&Actors"
	BEGIN
		MENUITEM "Toggle &Map Actor rendering", IDM_ACTORS_MAPRENDER, GRAYED
		MENUITEM "Toggle &Scene Actor rendering", IDM_ACTORS_SCENERENDER, GRAYED
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "Reset &coordinates\tTAB", IDM_OPTIONS_RESETCAMCOORDS, GRAYED
		MENUITEM SEPARATOR
		POPUP "&Texture Filtering..."
		BEGIN
			MENUITEM "&Nearest", IDM_OPTIONS_FILTERNEAREST, GRAYED
			MENUITEM "&Linear", IDM_OPTIONS_FILTERLINEAR, GRAYED
			MENUITEM "&Linear (Mipmap)", IDM_OPTIONS_FILTERMIPMAP, GRAYED
		END
		MENUITEM SEPARATOR
		MENUITEM "Toggle &Map rendering", IDM_OPTIONS_RENDERMAPS, GRAYED
		MENUITEM "Toggle &Collision overlay rendering", IDM_OPTIONS_RENDERCOLLISION, GRAYED
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About...", IDM_HELP_ABOUT
	END
END
